@model List<OrderVM>
@section Styles {

    <style>
        .top-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        #myTable thead th {
            text-align: right;
        }

    </style>
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">الطلبات</h4>
                <div class="mb-3">
                    <div class="mb-3">
                        <button onclick="filterOrders('')" class="btn btn-primary mr-2">الكل</button>
                        <button onclick="filterOrders('جديد')" class="btn btn-primary mr-2">جديد</button>
                        <button onclick="filterOrders('قيد الانتظار')" class="btn btn-primary mr-2">قيد الانتظار</button>
                        <button onclick="filterOrders('تم التسليم للمندوب')" class="btn btn-primary mr-2">تم التسليم للمندوب</button>
                        <button onclick="filterOrders('تم التوصيل')" class="btn btn-primary mr-2">تم التوصيل</button>
                        <button onclick="filterOrders('لا يمكن الوصول')" class="btn btn-primary mr-2">لا يمكن الوصول</button>
                        <button onclick="filterOrders('تم التاجيل')" class="btn btn-primary mr-2 ">تم التاجيل</button>
                    </div>
                    <button onclick="filterOrders('تم التسليم جزئيا')" class=" btn btn-primary mr-2">تم التسليم جزئيا</button>
                    <button onclick="filterOrders('تم الالغاء من قبل المستلم')" class=" btn btn-primary mr-2">تم الالغاء من قبل المستلم</button>
                    <button onclick="filterOrders('تم الرفض مع الدفع')" class="btn btn-primary mr-2">تم الرفض مع الدفع</button>
                    <button onclick="filterOrders('رفض مع سداد جزء')" class="btn btn-primary mr-2">رفض مع سداد جزء</button>
                    <button onclick="filterOrders('رفض ولم يتم الدفع')" class="btn btn-primary">رفض ولم يتم الدفع</button>
                </div>
                <div class="table-responsive">
                    <table id="myTable" class="table  table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th> رقم الاوردر </th>
                                <th> اسم العميل </th>
                                <th> اسم التاجر </th>
                                <th> اسم المندوب </th>
                                <th> المخافظة </th>
                                <th> المدينة </th>
                                <th> الفرع </th>
                                <th> القرية </th>
                                <th>الحالة</th>


                                <th>التكلفة الكلية</th>
                                <th>تعديــل</th>
                                <th>عـــرض</th>
                                <th>تعديل الحالة</th>
                                <th>حــذف</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="parent">
                                    <td>@order.Id</td>
                                    <td>@order.Client_Name</td>
                                    <td>@order.TraderName</td>
                                    <td>@order.RepresntiveName</td>
                                    <td>@order.GovernateName</td>
                                    <td>@order.CityName</td>
                                    <td>@order.BranchName</td>
                                    <td>@order.Village_Name</td>
                                    <td>@order.statusName</td>

                                    <td>@order.Order_Total_Cost</td>
                                    <td><a asp-action="Update" asp-controller="Order" asp-route-Id="@order.Id" class=" btn btn-gradient-success">تعديل</a></td>
                                    <td><a asp-action="ShowDetails" asp-controller="Order" asp-route-Id="@order.Id" class=" btn btn-gradient-success">عرض التفاصيل</a></td>
                                    <td><a asp-action="UpdateStatus" asp-controller="Order" asp-route-Id="@order.Id" class=" btn btn-gradient-success">تعديل الحالة</a></td>
                                    <td><a href="javascript:;" data-id="@order.Id" class="btn btn-gradient-danger js-delete">حذف</a></td>
                                
                                    
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <a asp-action="Create" asp-controller="Order" class="btn btn-primary">اضافة طلـــب</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script>
        function filterOrders(status) {
            var table = $('#myTable').DataTable();
            table
                .column(8)
                .search(status)
                .draw();
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);
                bootbox.confirm({
                    title: 'حذف الطلــب',
                    message: 'هل انت متاكد من انك تريد حذف الطلــب ؟',
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> الغاء'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> تاكيد',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/Order/Delete/' + btn.data('id'),
                                success: function () {
                                    btn.parents('.parent').fadeOut();
                                    toastr.success("تم حدف الطلــب بنجاح");
                                },
                                error: function () {
                                    toastr.error("حدث خطأ ما");

                                }
                            });
                        }
                    }
                });


            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                paging: true,
                pageLength: 3,
                bSort: true,
                bFilter: true,
                lengthMenu: [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],
                dom: '<"top-section"lfB>rt<"bottom"ip><"clear">',
                language: {
                    "decimal": "",
                    "emptyTable": "لا تتوفر بيانات في الجدول",
                    "info": "عرض _START_ إلى _END_ من مجموع _TOTAL_ مدخل",
                    "infoEmpty": "عرض 0 إلى 0 من 0 مدخل",
                    "infoFiltered": "(تمت تصفية _MAX_ من الإجمالي)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "عرض _MENU_ مدخل",
                    "loadingRecords": "تحميل...",
                    "processing": "جاري المعالجة...",
                    "search": " البحث",
                    "zeroRecords": "لا توجد نتائج مطابقة للبحث",
                    "aria": {
                        "sortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                        "sortDescending": ": تفعيل لترتيب العمود تنازلياً"
                    }
                },
                buttons: [
                    { extend: 'excel', className: 'btn btn-danger' },
                    { extend: 'print', className: 'btn btn-success' }
                ]
            });
        });
    </script>
   
    }
    }